<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전자봉투 생성</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">Send Digital Envelope</h1>
    <h4 class="mb-3">..</h4>
</div>

<div class="container">
    <form role="form" action="/envelopes/new" th:object="${envelopeForm}" method="post">
        <div class="form-group">
            <label th:for="sender">보내는 사람</label>
            <input type="text" th:field="*{sender}" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label for="receiver">받는 사람</label>
            <select name="receiver" id="receiver" th:field="*{receiver}" class="form-control">
                <option value="">받는 사람 선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.name}"
                        th:text="${member.name}" />
            </select>
        </div>
        <div class="form-group">
            <label th:for="message">전달할 메세지</label>
            <input type="text" th:field="*{message}" class="form-control"
                   placeholder="메세지를 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div> <!-- /container -->

</body>